.about-box {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 5px;
    margin-top: 80px;
    padding: 80px 20px;
    overflow: auto;
}

.about-box h1 {
    font-size: 60px;
}

.about-box h2 {
    font-size: 30px;
}

.about-box p {
    font-size: 20px;
    margin-top: 30px;
}