.page-header {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 500px;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.page-header h1 {
    color: rgb(25, 88, 48);
    font-size: 60px;
    font-style: italic;
    font-weight: bold;
    padding-left: 50px;
}

.nav-bar {
    height: 50px;
    width: 450px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: rgb(24, 158, 17);
    font-size: 30px;
    line-height: 40px;
}

.page-header a, a:visited {
    color: inherit;
    text-decoration: none;
}