.scatter-chart {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scatter-chart h1 {
    color: black;
    font-size: 45px;
    margin-top: 80px;
    line-height: 50px;

}

.scatter-chart h2 {
    color: black;
}

